<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>国际旅游岛-海南</title>

<meta content="国际旅游岛-海南" name="keywords" />

<meta content="国际旅游岛-海南" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎国际旅游岛-海南！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/0m.jpg" width="294" height="49" alt="" title="国际旅游岛-海南"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">双创</a></li>                
                
                <li><a href="new.html">动态</a></li>

                <li><a href="delicacy.html">图集</a></li>        

                <li><a href="#">旅游</a></li>      

                <li><a href="#">美食</a></li>      
      
                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="#">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/x11.jpg" width="1000" height="240" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>聚焦海口</h1>

                	<ul class="ul_left">   
        <li><h3><a href="historic.html">动态资讯</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：海南科技职业学院</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0898-65969918</p>

                      <p>网址：www.hnkjedu.cn/</p>

                      <p>邮编：571126</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">动态</a> >热点资讯</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>海口市国土资源局深入开展"双创"活动</span>

                  </p>

                	<div class="con">

           		      <p>

	<p>

		&nbsp;&nbsp;&nbsp;为积极贯彻落实市委、市政府&ldquo;双创&rdquo;工作会议精神，推动海口市国土资源局&ldquo;双创&rdquo;工作深入开展。连日来，海口市国土资源局组织局各处室、分局、局直属各单位全体党员干部职工，到局机关党支部对口帮扶村、挂点卫生打扫乡镇及市内挂点交通协管路段开展村容村貌整治工作和交通协管志愿者工作，大家一齐努力，一起动手齐心协力为&ldquo;双创&rdquo;工作献上自己的一份力。</p>
	<p>几天来，在挂点帮扶村各条村道小路、公共活动场所，海口市国土资源局党组书记盛林、副局长伍树帜等局领导带领全局党员干部一道齐心协力，手拿扫帚、镰刀、铁铲等工具，扫村道、砍枝条、搬垃圾、清淤泥，认真对散落在道路两旁的树枝、树叶和各种杂物进行打扫清理，并及时调派车辆将各种垃圾搬运走。天气闷热，人人汗流浃背，但手中的劳动工具一直忙碌着，大家干劲十足，散落遗留的各种垃圾被清理运走，村里的道路变得干净整洁了。同时，部分党员干部职工在市挂点交通协管点协助交警部门做好交通协管志愿者工作，宣传文明行车。据不完全统计，开展&ldquo;双创&rdquo;工作以来，海口市国土资源局共出动党员干部100多人次，共清运近10多吨垃圾，正确引导文明行车100多起。</p>
	<p>
  <br />
	  
	  
	  
	  
	  </p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="index.html">首页</a> | <a href="historic.html">双创</a> | <a href="new.html">动态</a> | <a href="delicacy.html">图集</a> | <a href="#">美食</a> | <a href="leave.html">留言</a> | <a href="#">团队介绍</a>| <a href="connection.html">联系我们</a></p>

<p> &copy; 2015－2016  版权所有 15软件一班</p>
  <p>地址：海南科技职业学院  </p>
</div>



<!--footer 结束--> 


</body>

</html>

