<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>国际旅游岛-海南</title>

<meta content="国际旅游岛-海南" name="keywords" />

<meta content="国际旅游岛-海南" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎国际旅游岛-海南！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/0m.jpg" width="294" height="49" alt="" title="国际旅游岛-海南"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">双创</a></li>                
                
                <li><a href="new.html">动态</a></li>

                <li><a href="delicacy.html">图集</a></li>        

                <li><a href="#">旅游</a></li>      

                <li><a href="#">美食</a></li>      
      
                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="#">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/x11.jpg" width="1000" height="240" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说双创</h1>

                	<ul class="ul_left">   
        <li><h3><a href="historic.html">双创意义</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：海南科技职业学院</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0898-65969918</p>

                      <p>网址：www.hnkjedu.cn/</p>

                      <p>邮编：571126</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 双创意义</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>双创意义</span>

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;一、"双创"活动应该与建立城市管理长效机制相结合。城市的"脏乱差"只是一个表象，而最终很重要的原因还在于城市管理没有跟上。城市管理是一项复杂的系统工程，既有"为者不为"的原因，也与人的素质和制度安排等有一定的关系。城市管理长效机制的建立，不但可以改变城市面貌，而且还可以用制度的刚性约束长期保持和维护得来不易的创建成果。尽管人的观念和习惯改变需要在长期的宣传和教育中实现，但是，制度的刚性约束也必不可少——这一点已经被国内外许多成功的经验所证明。只要我们结合开展"双创"活动，同步推进城市管理长效机制建立，"双创"不但可以取得创新性的成果，而且久久为功，人的观念和习惯也会随之而改变。。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;二、"双创"活动应该与城市产业布局和产业升级相结合。"双创"活动，尤其是"创卫"活动看似只与城市环境卫生相关，实际上它是一项牵一发而动全身的大工程。目前，海口市产业布局在新建城区趋向合理，但在老城区商业布局杂乱无章现象严重，尤其是各种各样的餐饮小店、集贸市场等所谓的"五小"企业散乱分布、随意乱开，集中度不高、入行入市门槛低，既不利于市场形成、产业发展，更不利于城市的有序和规范管理，对整个城市形象造成了严重影响。在"创卫"中，这些都是必须加以改变的。从这个意义上说，城市"创卫"也是老城区产业布局和产业升级的一次"革命"。西宁市在创建国家卫生城市过程中，对散布在城区的"五小"企业进行强力整合，由政府补助统一制作门头、牌匾，形成了"南关街金玉一条街"、"水井巷藏饰品一条街"等一批在西北地区具有一定影响力的专业化街区市场，实现了集聚发展，其经验值得我们借鉴。
<br />




	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="index.html">首页</a> | <a href="historic.html">双创</a> | <a href="new.html">动态</a> | <a href="delicacy.html">图集</a> | <a href="#">美食</a> | <a href="leave.html">留言</a> | <a href="#">团队介绍</a>| <a href="connection.html">联系我们</a></p>

<p> &copy; 2015－2016  版权所有 15软件一班</p>
  <p>地址：海南科技职业学院  </p>
</div>



<!--footer 结束--> 


</body>

</html>

