<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>国际旅游岛</title>

<meta content="国际旅游岛-海南" name="keywords" />

<meta content="国际旅游岛-海南" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎国际旅游岛-海南！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/0m.jpg" width="294" height="49" alt="" title="国际旅游岛-海南"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">双创</a></li>                
                
                <li><a href="new.html">动态</a></li>

                <li><a href="delicacy.html">图集</a></li>        

                <li><a href="#">旅游</a></li>      

                <li><a href="#">美食</a></li>      
      
                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="#">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/x2.jpg" width="1000" height="240" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>新闻分类</h1>

                	<ul class="ul_left">



        <li><h3><a href="new.html">动态</a></h3>

</li>

        

        <li><h3><a href="newest.html">公告</a></h3>
		
</li>

        

         	</ul>

                 
              </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：海南科技职业学院</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0898-65969918</p>

                      <p>网址：www.hnkjedu.cn/</p>

                      <p>邮编：571126</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> >最新动态</div>

			<ul class="ul_news">
                	    
        
        <li><span>2016-00-00</span><a href="one.html">文明安全礼貌行车 海南昌导的哥的姐全新面貌践行"双创</a></li>
        
        <li><span>2016-00-00</span><a href="two.html">《人民日报》长篇报道点赞海口"双创"</a></li>
        
        <li><span>2016-00-00</span><a href="three.html">人人参与"双创" 必须做好"三项"工作</a></li>
        
        <li><span>2016-00-00</span><a href="four.html">海口市国土资源局深入开展"双创"活动</a></li>
        
              </ul>


                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="index.html">首页</a> | <a href="historic.html">双创</a> | <a href="new.html">动态</a> | <a href="delicacy.html">图集</a> | <a href="#">美食</a> | <a href="leave.html">留言</a> | <a href="#">团队介绍</a>| <a href="connection.html">联系我们</a></p>

<p> &copy; 2015－2016  版权所有 15软件一班</p>
  <p>地址：海南科技职业学院  </p>
</div>



<!--footer 结束--> 
</body>

</html>

