<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>国际旅游岛-海南</title>

<meta content="国际旅游岛-海南" name="keywords" />

<meta content="国际旅游岛-海南" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎国际旅游岛-海南！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/0m.jpg" width="294" height="49" alt="" title="国际旅游岛-海南"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">双创</a></li>                
                
                <li><a href="new.html">动态</a></li>

                <li><a href="delicacy.html">图集</a></li>        

                <li><a href="#">旅游</a></li>      

                <li><a href="#">美食</a></li>      
      
                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="#">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/x11.jpg" width="1000" height="240" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>聚焦海口</h1>

                	<ul class="ul_left">   
        <li><h3><a href="historic.html">热点资讯</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：海南科技职业学院</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0898-65969918</p>

                      <p>网址：www.hnkjedu.cn/</p>

                      <p>邮编：571126</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">动态</a> >热点资讯</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>人人参与"双创" 必须做好"三项"工作</span>

                  </p>

               	  <div class="con">

           		    <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp; &ldquo;双创&rdquo;的目的是建设文明和谐、幸福美丽的海口家园，&ldquo;双创&rdquo;的宗旨是惠及民生，&ldquo;双创&rdquo;成果由全市人民共享。&ldquo;双创&rdquo;是每一位海口人应尽之责，需要人人参与，人人作为。</p>
	<p>　　参与&ldquo;双创&rdquo;，就要变被动为主动。不管是机关单位，还是基层组织，也不管是领导干部，还是市民群众，对&ldquo;双创&rdquo;工作在时间紧、任务重的情况下，不能停留在强制执行的被动局面上，应把&ldquo;双创&rdquo;工作为己任，从被动局面转为主动局面，作为一种自身的自觉行动，对照&ldquo;双创&rdquo;测评体系指标，只要觉得该做的，就要主动作为，想&ldquo;双创&rdquo;之所想，急&ldquo;双创&rdquo;之所急，做&ldquo;双创&rdquo;之所需，落细落小，为&ldquo;双创&rdquo;工作做奉献。</p>
	<p>　　参与&ldquo;双创&rdquo;，就要克服&ldquo;上热&rdquo;&ldquo;下冷&rdquo;现象。所谓&ldquo;上热&rdquo;，就是上级组织、上级领导、上层干部&ldquo;热&rdquo;，对&ldquo;双创&rdquo;工作踊跃参与，开展&ldquo;双创&rdquo;工作热火朝天。所谓&ldquo;下冷&rdquo;，就是有些基层组织、市民群众，对&ldquo;双创&rdquo;工作比较冷淡，积极性、主动性不够，参与率不高，覆盖面不广，甚至袖手旁观，当作与己无关。基层组织是&ldquo;双创&rdquo;工作的基础，应充分发挥其应有的作用，市民群众是&ldquo;双创&rdquo;工作的主人，应弘扬主人翁精神，形成上下联动，齐抓共管，共同推进的新局面。各级组织必须采取措施，克服&ldquo;上热&rdquo;&ldquo;下冷&rdquo;现象，充分调动基层组织和市民群众参与&ldquo;双创&rdquo;工作的积极性、主动性和创造性，心往一处想，劲往一处使，真正做到&ldquo;双创&rdquo;工作&ldquo;我知晓、我参与、我奉献&rdquo;。</p>
	<p>　　参与&ldquo;双创&rdquo;，就要人人严于律己。&ldquo;双创&rdquo;工作既是组织的事，更是全市市民的事。每位市民要按照组织的要求，按照&ldquo;双创&rdquo;测评体系指标的要求，严于律己，认真对照检查自己，该做的一定要做好，不该做的坚决不做，将个人的行为服从于&ldquo;双创&rdquo;指标要求，从自身做起，从小事做起，规范好自己的行为。</p>
	<p><br />
	  
	  
	  
	  
	  </p>

	<p>

		<br />

	</p>

                  </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="index.html">首页</a> | <a href="historic.html">双创</a> | <a href="new.html">动态</a> | <a href="delicacy.html">图集</a> | <a href="#">美食</a> | <a href="leave.html">留言</a> | <a href="#">团队介绍</a>| <a href="connection.html">联系我们</a></p>

<p> &copy; 2015－2016  版权所有 15软件一班</p>
  <p>地址：XXXXXXXXXXXXXXXXXX  </p>
</div>



<!--footer 结束--> 


</body>

</html>

