<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>国际旅游岛-海南</title>

<meta content="国际旅游岛-海南" name="keywords" />

<meta content="国际旅游岛-海南" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎国际旅游岛-海南！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/0m.jpg" width="294" height="49" alt="" title="国际旅游岛-海南"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">双创</a></li>                
                
                <li><a href="new.html">动态</a></li>

                <li><a href="delicacy.html">图集</a></li>        

                <li><a href="#">旅游</a></li>      

                <li><a href="#">美食</a></li>      
      
                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="#">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/x11.jpg" width="1000" height="240" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>聚焦海口</h1>

                	<ul class="ul_left">   
        <li><h3><a href="historic.html">热点资讯</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：海南科技职业学院</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0898-65969918</p>

                      <p>网址：www.hnkjedu.cn/</p>

                      <p>邮编：571126</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">动态</a> > 热点资讯</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>《人民日报》长篇报道点赞海口"双创"</span>

                  </p>

                	<div class="con">

           		      <p><br />
                        <img src="../images/two3.jpg" width="422" height="599" style=" margin-left:120px;">
                      <p>
	  
	  坑坑洼洼的泥石土路，铺上了青石地砖;电动车乱窜、拥堵不堪的十字路口，在交警和志愿者的疏导下变得井然有序;污水横流、垃圾遍地的马路市场，变身整洁的休闲公园;斑驳涂鸦的墙壁，粉刷成了张贴社会主义核心价值观题字图画的文化长廊……短短4个月，海南海口洁净一新，变化之大令市民、游客赞叹。</p>
	<p>　　变化始于今年7月最后一天，海口市委、市政府在创建&ldquo;全国文明城市和国家卫生城市&rdquo;(简称&ldquo;双创&rdquo;)工作动员大会上，吹响了一场城市改造攻坚战的号角。</p>
	<p>　　自此，全城进入&ldquo;双创&rdquo;模式，党员干部坚守&ldquo;一线&rdquo;，巡街访巷整治环境、劝导制止不文明行为;市民主动加入志愿服务，清理垃圾、维持交通秩序，城市面貌焕然一新。</p>
	<p>　　 &ldquo;这座城市被唤醒了。全市上下齐心协力，社会各界积极参与，以&lsquo;愚公移山&rsquo;之志，充分发扬&lsquo;四种精神&rsquo;，&lsquo;双创&rsquo;工作首战告捷。&rdquo;海南省委常委、海口市委书记孙新阳说，&ldquo;双创&rdquo;将推动海口在未来三年实现城市风貌、城市管理两个大变样。</p>
	<p>　　<strong>新面貌：抹掉&ldquo;脏乱差&rdquo;，人人动手创建</strong></p>
	<p>　　天蓝海蓝、气候宜人，空气质量稳居环保部重点监测的74个城市的首位。宜居之城的美誉，让人很难把海口和交通秩序混乱、街道无序摆摊、垃圾随处可见等&ldquo;脏乱差&rdquo;联系到一起。长久以来，基础设施建设欠账太多、城市功能配套跟不上城市发展，让海口的城市风貌和人居环境大打折扣。</p>
	<p>　　 &ldquo;双创&rdquo;伊始，海口就投入4亿元资金用于老旧城区小街小巷的改造，从整治&ldquo;脏乱差&rdquo;入手，优先抓好城乡环境卫生治理、道路交通秩序治理、日常市容市貌治理、生态环境综合治理、公共安全秩序治理、城乡公共卫生治理等&ldquo;六大治理&rdquo;，并决定用3年时间着力完成产业项目、城市基础设施建设和棚户区改造等3个&ldquo;千亿元&rdquo;投资工程。</p>
	<p>　　 &ldquo;要借&lsquo;双创&rsquo;理一理民生账本，把新的民生事项要求与年初计划的民生事项结合起来，用&lsquo;双创&rsquo;推进民生。&rdquo;海口市委副书记、市长倪强说。</p>
	<p>　　 4个月来，海口已改造完成505条小街小巷，正在改造343条;车行道修复6.06万平方米，人行道修复4.7万平方米，排水井盖提升、修复3167座;升级改造1家农贸市场;拆除违法建筑2654宗，182.73万平方米，全年拆除违法建筑239.28万平方米;91条道路和12个小公园及绿地的苗木全部补植补齐;火山公园、观澜湖景区等一批景区的升级进入快车道。</p>
	<p><br />
	  
	  </p>

                  </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="index.html">首页</a> | <a href="historic.html">双创</a> | <a href="new.html">动态</a> | <a href="delicacy.html">图集</a> | <a href="#">美食</a> | <a href="leave.html">留言</a> | <a href="#">团队介绍</a>| <a href="connection.html">联系我们</a></p>

<p> &copy; 2015－2016  版权所有 15软件一班</p>
  <p>地址：海南科技职业学院  </p>
</div>



<!--footer 结束--> 


</body>

</html>

